{% extends 'layout/index.html' %}

{% block content %}

    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for campaing in campaings %}
        <tr>
            <td><a href="/products/{{campaing.id}}">{{campaing.name}}</a></td>
            <td>
                <button class="button">
                    <a href="/campaings/{{campaing.category_id}}/{{campaing.id}}/delete">Delete</a>
                </button>
                <button class="button_edit">
                    <a href="/campaings/{{campaing.category_id}}/{{campaing.id}}/edit">Edit</a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if nofilter %}
    <button class="button_add">
        <a href="/campaings/{{category_id}}/new">Add</a>
    </button>
    {% endif %}
{% endblock %}
