{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>STORE CRUD | BY GIANFRANCO BONANNO</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    </head>
    <body>
        <header>
            <nav class="navigation">
                <ul>
                    <li><a href="/categories/">Categories</a></li>
                    <li><a href="/campaings/">Campaings</a></li>
                    <li><a href="/products/">Products</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>