{% extends 'layout/index.html' %}

{% block content %}

    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>
                <a href="/campaings/{{category.id}}">{{category.name}}</a></td>
            <td>
                <button>
                    <a href="/categories/{{category.id}}/delete">Delete</a>
                </button>
                <button>
                    <a href="/categories/{{category.id}}/edit">Edit</a>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button>
        <a href="/categories/new">Add</a>
    </button>
{% endblock %}